/* Top bar */
.top-bar {
	background: #fdfdfd;
	color: #999;
	padding: 6px 0px;
	font-size: 13px;
	height: 40px;
	line-height: 25px;
	border-bottom: 1px solid #f5f5f5;
}
.top-bar a {
	color: #999;
}

.top-bar .info {
	text-align: right;
}

.top-bar .info li {
	list-style: none;
	display: inline;
}

/* Nav bar */
.navbar {
  border-bottom: thin solid #303c40;
  font-family: "Adelle Sans", "Helvetica Neue", sans-serif;
}
.navbar a {
  text-decoration: none;
}
.navbar a:focus {
  outline: 0;
}
@media (min-width: 960px) {
  .navbar {
    padding-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .navbar {
    padding-bottom: 20px;
  }
}

.navbar-nav {
  font-size: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
@media (min-width: 480px) {
  .navbar-nav {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: left;
  }
}
.navbar-nav > li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
@media (min-width: 480px) {
  .navbar-nav > li {
    margin-right: 14px;
    margin-left: 14px;
  }
}
@media (min-width: 960px) {
  .navbar-nav > li {
    display: block;
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  .navbar-nav > li {
    margin-left: 20px;
  }
}
.navbar-nav > li:first-child {
  margin-left: 0;
}
.navbar-nav > li:last-child {
  margin-right: 0;
}
.navbar-nav > li:last-child > a {
  border-bottom: none;
}
.navbar-nav > li > a {
  bottom: -1px;
  display: inline-block;
  font-family: "Adelle Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 0;
  position: relative;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .navbar-nav > li > a {
    font-size: 18px;
  }
}
@media (min-width: 960px) {
  .navbar-nav > li > a {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20 / 13;
    padding: 0 0 20px;
  }
}
.navbar-nav > li > a:after {
  background: #a7463d;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: height 100ms ease-out;
  transition: height 100ms ease-out;
  width: 100%;
}

.navbar-nav > li > a:focus:after,
.navbar-nav > li > a:hover:after,
.navbar-nav > li > a:active:after,
.navbar-nav > .active > a:after {
  height: 7px;
}

.blog .navbar-nav > .current_page_parent > a,
.single-post .navbar-nav > .current_page_parent > a,
.single-work .navbar-nav > .menu-item-work > a {
  color: #a7463d;
}
.blog .navbar-nav > .current_page_parent > a:after,
.single-post .navbar-nav > .current_page_parent > a:after,
.single-work .navbar-nav > .menu-item-work > a:after {
  height: 7px;
}

/*.navbar-nav > li.active > a {
  background-color: #fcd419;
  border-color: #fcd419;
  color: #ffffff;
}
.navbar-nav > li.active > a:hover {
  background-color: #fcd419;
  border-color: #fcd419;
  color: #ffffff;
}*/

.navbar-collapse {
  overflow-x: visible;
  padding-right: 20px;
  padding-left: 20px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse:before, .navbar-collapse:after {
  /* content: " "; */
  display: table;
}
.navbar-collapse:after {
  clear: both;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 960px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -20px;
  margin-left: -20px;
}
@media (min-width: 960px) {
  .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

/**********************/
/* Bootstrap carousel */
/**********************/
.carousel{
  margin:10px auto;
}
.carousel .carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat; 
  filter: none;
}
.carousel .carousel-control.left {
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat; 
  filter: none;
}
.carousel .carousel-control {
  position: absolute;
  z-index:7;
  top: 45%;
  width: 15%;
  opacity: .7;
  filter: alpha(opacity=70);
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}
.carousel .carousel-control:hover, 
.carousel .carousel-control:focus {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .carousel-control span{
  display:inline-block;
  width:35px;
  height:35px;
  background:rgba(0,0,0,0.4);
  line-height:35px;
  border-radius:3px;
}
.carousel .carousel-indicators li {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 1px;
  text-indent: -999px;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0,0,0,0);
}
.carousel .carousel-indicators .active {
  margin: 0;
  width: 13px;
  height: 13px;
}
@media (max-width:480px){
  .carousel .carousel-indicators{
    display:none;
  }
  .carousel .carousel-control{
    top:40%;
  }
  .carousel .carousel-control span{
    width:auto;
    height:auto;
    background:transparent;
    line-height:0px;
    border-radius:0px;
  }
}
/* Carousel caption */
.carousel .carousel-caption{
  text-shadow:none;
  position:absolute;
  background:rgba(0,0,0,0.7);
  max-width:350px;
  overflow:hidden;
  padding:15px 20px;
  text-align:left;
  z-index:5;
}
@media (max-width:550px){
  .carousel .carousel-caption{
    display:none;
  }
}
.carousel .item .carousel-caption h4,
.carousel .item .carousel-caption h4 a{
  font-size:16px;
  line-height:29px;
  color:#fff;
}
.carousel .item .carousel-caption p{
  color:#ccc;
  font-size:13px;
  line-height:23px;
}
.carousel .item .carousel-caption.c-middle-left{
  top:30%;
  left:7%;
  bottom:auto;
  right:auto;
}
.carousel .item .carousel-caption.c-middle-right{
  top:30%;
  right:7%;
  bottom:auto;
  left:auto;
}
.carousel .item .carousel-caption.c-bottom-left{
  bottom:7%;
  left:5%;
  top:auto;
  right:auto;
}
.carousel .item .carousel-caption.c-bottom-right{
  bottom:7%;
  right:5%;
  top:auto;
  left:auto;
}
.carousel .item .carousel-caption.c-bottom-full{
  bottom:0%;
  left:0%;
  right:auto;
  top:auto;
  max-width:100%;
  width:100%;
  padding:12px 15px;
}
.carousel .item .carousel-caption.c-left-big{
  bottom:0%;
  left:0%;
  top:auto;
  right:auto;
  height:100%;
  padding:30px 25px;
}
.carousel .item .carousel-caption.c-right-big{
  bottom:0%;
  right:0%;
  top:auto;
  left:auto;
  height:100%;
  padding:30px 25px;
}
/* Carousel style one */
.carousel.carousel-one .item{
  padding:120px 20px;
  text-align:center;
}
.carousel.carousel-one h5{
  font-size:22px;
  line-height:35px;
  font-weight:400;
  color:rgba(255,255,255,0.8);
  text-transform:uppercase;
}
.carousel.carousel-one h3{
  font-size:70px;
  line-height:85px;
  font-weight:600;
  color:#fff;
  text-transform:uppercase;
}
.carousel.carousel-one .btn{
  margin-top:10px;
  font-size:14px;
}
@media (max-width:767px){
  .carousel.carousel-one .item{
    padding:60px 20px;
  }
  .carousel.carousel-one h5{
    font-size:15px;
    font-weight:600;
  }
  .carousel.carousel-one h3{
    font-size:30px;
    line-height:45px;
  }
}
/* Carousel three */
.carousel.carousel-two .carousel-two-content{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
}
.carousel.carousel-two  h3{
  color:#fff;
  font-weight:300;
  font-size:60px;
  line-height:60px;
  margin-top:-50px;
  background:rgba(0,0,0,0.4);
  padding:20px 0px;
}
.carousel.carousel-two   h3 a,
.carousel.carousel-two   h3 a:hover{
  color:#fff;
}
@media (max-width:767px){
  .carousel.carousel-two   h3{
    font-size:30px;
    line-height:30px;
    margin-top:-15px;
  }
}
@media (max-width:480px){
  .carousel.carousel-two   h3{
    font-size:20px;
    line-height:20px;
    margin-top:-15px;
    padding:0px;
    background:transparent;
  }
}

.footer {
	background: #fdfdfd;
	color: #999;
	padding: 6px 0px;
	font-size: 13px;
	height: 100px;
	line-height: 25px;
	border-top: 1px solid #f5f5f5;
	margin-top: 50px;
}
.footer a {
	color: #999;
}

.footer div {
	line-height: 100px;
	text-align: center;
}

.block-heading-two{
  margin:10px 0px 15px 0px;
}
.block-heading-two input{
  float: right;
  margin: inherit;
}
.block-heading-two h3{
  font-size:18px;
  line-height:36px;
  font-weight:600;
  padding:0px 10px 6px 0px;
  margin-bottom:10px;
  border-bottom:1px solid #eee;
}
.block-heading-two h3 span{
  padding-bottom:11px;
  border-bottom:3px solid;
}

p {
  margin: 2px 0px;
  padding: 0px;
  margin-bottom:5px;
}

hr {
  margin: 20px 0px;
  padding: 0px;
  border-top: 0px;
  border-bottom: 1px solid #eee;
}

.storeList input {
  float: right;
}

.search .input-group{
  width: 55%;
  left: 25%;
}

@media (max-width: 480px) {
  .search .input-group{
    width: 100%;
    left: 0;
  }
}

.btn {
  float: right;
}

.wage {
  text-align: right;
}

.section {
  min-height: 320px;
}

.highlight-color h6{
  background: #fcd419;
}

.footer {
  clear: both;
  margin-top: 100px;
}